@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  /* Suas cores customizadas */
  --color-base: #000000;
  --color-surface: #171717;
  --color-surfaceHover: #262626;
  --color-borderSubtle: #404040;
  --color-accent: #e11d48;
  --color-accentGreen: #10B981;
  --color-accentRed: #EF4444;
  --color-facil: #10B981;
  --color-medio: #3B82F6;
  --color-dificil: #8B5CF6;
  --color-ultra: #F59E0B;
}